@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.list-group-item {
  display: flex;
  justify-content: space-around;
}

.fa-btn {
  margin-right: 5px;
}

.page-header {
  margin: 20px 0 20px;
}

.required {
  color: red;
}

@import "modules/nav.scss";
@import "modules/footer.scss";
@import "modules/room_card.scss";
